/* ***************** utilities & containers ***************** */
.flex-container {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.inner-container {
    gap: 25px;
    flex-wrap: wrap;
    padding: 2rem;
    width: 1528px;
    height: 726px;
}

.service-plans {
    margin-bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 1528px;
    height: 473px;
    padding: 2rem;
}
/* ***************** global typography ***************** */
.members h2 {
  gap: 2rem;
  padding: 2rem;
  font-size: 60px;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.sarah p {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: black;
  line-height: 1.5;
  width: 27.25rem;
}

.sarah h3 {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.luis p {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: black;
  line-height: 1.5;
  width: 27.25rem;
}

.luis h3 {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.jonah p {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: black;
  line-height: 1.5;
  width: 27.25rem;
}

.jonah h3 {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.amira p {
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  color: black;
  line-height: 1.5;
  width: 27.25rem;
}

.amira h3 {
  font-size: 2rem;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  line-height: 1.5;
}

.service-plans h3 {
    font-size: 3rem;
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}

.service-plans h4 {
    font-size: 2.125rem;
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}

.service-plans p {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #0C4A6E;
    line-height: 1.5;
}

li {
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.plans h2 {
    gap: 2rem;
    padding: 2rem;
    font-size: 60px;
    font-family: 'Arial', sans-serif;
    color: black;
    font-weight: bold;
    line-height: 1.5;
}

/* ***************** header & footer ***************** */
header {
  display: flex;
  padding: 1rem;
  background-color: #0C4A6E;
  font-size: ;
  font-family: 'Arial', sans-serif;
  color: white;
  font-weight: bold;
  padding-left: 6.25rem;
  line-height: 1.5;
  width: 1728px;
}

footer {
  display: flex;
  padding: 1rem;
  background-color: #0C4A6E;
  font-size: ;
  font-family: 'Arial', sans-serif;
  color: white;
  padding-left: 6.25rem;
  line-height: 1.5;
  width: 1728px;
  flex-wrap: wrap;
}

footer .cite {
    font-style: italic;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

footer p {
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    color: white;
    line-height: 1.5;
}
/* ***************** main content ***************** */

.sarah {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #f4f4f5ff;
  width: 748px;
  height: 280px;
}

.sarah img {
  width: 200px;
  height: 200px;
  padding-top: 40px;
  padding-left: 28px;
  margin-right: 2rem;
}

.luis {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #F4F4F5;
  width: 748px;
  height: 280px;
}

.luis img {
  width: 200px;
  height: 200px;
  padding-top: 40px;
  padding-left: 28px;
  margin-right: 2rem;
}

.jonah {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 748px;
  height: 280px;
  background-color: #F4F4F5;
}

.jonah img {
  width: 200px;
  height: 200px;
  padding-top: 40px;
  padding-left: 28px;
  margin-right: 2rem;
}

.amira {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 748px;
  height: 280px;
  background-color: #F4F4F5;
}

.amira img {
  width: 200px;
  height: 200px;
  padding-top: 40px;
  padding-left: 28px;
  margin-right: 2rem;
}

.starter {
    width: 488px;
    height: 359px;
    background-color: #F4F4F5;
    text-align: center;
}

.growth {
    width: 488px;
    height: 359px;
    background-color: #F4F4F5;
    text-align: center;
}

.enterprise {
    width: 488px;
    height: 359px;
    background-color: #F4F4F5;
    text-align: center;
}